$split-layout-gutter-size: 10px;
$split-layout-element-initial-size: 20%;
$split-layout-element-min-size: 100px;


.split-layout-container {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;

  > .split-layout-element {
    overflow: auto;

    &:last-child {
      flex: 1;
    }
  }

  &.split-transparent-gutter {
    > .split-layout-element,
    > .split-layout-gutter, {
      position: relative;
    }

    > .split-layout-element {
      z-index: 1;
    }

    > .split-layout-gutter {
      z-index: 2;
    }

    &.split-horizontal {
      > .split-layout-element:first-child {
        width: $split-layout-element-initial-size;
      }
      > .split-layout-gutter {
        left: -$split-layout-gutter-size/2;
      }
      > .split-layout-element:last-child {
        left: -$split-layout-gutter-size;
        margin-right: -$split-layout-gutter-size;
      }
    }

    &.split-vertical {
      > .split-layout-element:first-child {
        height: $split-layout-element-initial-size;
      }
      > .split-layout-gutter {
        top: -$split-layout-gutter-size/2;
      }
      > .split-layout-element:last-child {
        top: -$split-layout-gutter-size;
        margin-bottom: -$split-layout-gutter-size;
      }
    }
  }

  &.split-horizontal {
    flex-direction: row;

    > .split-layout-element {
      min-width: $split-layout-element-min-size;

      &:first-child {
        width: $split-layout-element-initial-size;
      }
    }

    > .split-layout-gutter {
      width: $split-layout-gutter-size;
      cursor: ew-resize;
    }
  }

  &.split-vertical {
    flex-direction: column;

    > .split-layout-element {
      min-height: $split-layout-element-min-size;

      &:first-child {
        height: $split-layout-element-initial-size;
      }
    }

    > .split-layout-gutter {
      height: $split-layout-gutter-size;
      cursor: ns-resize;
    }
  }
}
