.split-layout-element {
  padding: 8px;
}

.split-layout-gutter {
  background: rgba(192, 192, 192, 0.3);
}

.split-layout-element:first-child {
  background-color: rgba(204, 255, 204, 0.7);
}

.split-layout-element:last-child {
  background-color: rgba(255, 255, 204, 0.7);
}

#horizontal-example {
  width: 60vw;
  height: 200px;
}

.#horizontal-example .split-layout-container.split-horizontal > .split-layout-element {
    min-width: 25%;
}

#vertical-example {
  height: 40vh;
  width: 200px;
}

#vertical-width .split-layout-element {
  max-height: 100%;
  overflow: auto;
}
